In [1]:
import pandas as pd
import numpy as np

In [2]:
topics = pd.read_csv('topics.csv')
topics.head()

,id,topic_id,text,type,effectiveness
0,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position,Adequate
1,de347c859ab6,00944C693682,With so many things in this world that few peo...,Position,Effective
2,c20937683442,00BD97EA4041,"No because, why should a computer know how you...",Position,Adequate
3,9d03e2bef0ff,00C6E82FE5BA,I think that it wouldn't be valueable to have ...,Position,Adequate
4,c2203a58aa5c,013B9AA6B9DB,"Well, some people believe that it was somethin...",Position,Adequate

In [3]:
merged_topics = topics.groupby('topic_id')['text'].apply(lambda x: ' '.join(x)).reset_index()
merged_topics.head()

       topic_id                                               text
0  00066EA9880D  The developement of these cars should be stopp...
1  000E6DE9E817            I am arguing against the policy change
2  0016926B079C  I think that students would benefit from learn...
3  00203C45FC55  Distance education is actually detrimental to ...
4  0029F4D19C3F  I think that's crazy! If kids don't have and o...

In [4]:
# save into a new csv file
merged_topics.to_csv('topics.csv', index=False)

In [5]:
opinions = pd.read_csv('opinions.csv')
opinions.head()

,id,topic_id,text,type,effectiveness
0,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim,Adequate
1,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence,Adequate
2,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim,Adequate
3,36a565e45db7,007ACE74B050,"though some say that life on Mars does exist, ...",Rebuttal,Ineffective
4,fb65fe816ba3,007ACE74B050,"It says in paragraph 7, on April 5, 1998, Mars...",Evidence,Adequate

In [6]:
conclusions = pd.read_csv('conclusions.csv')
conclusions.head()

,id,topic_id,text,type,effectiveness
0,28a94d3ee425,007ACE74B050,Though people were not satified about how the ...,Concluding Statement,Adequate
1,9fd314f638e5,00944C693682,Individual car use isn't bad. Millions of indi...,Concluding Statement,Effective
2,af494e4e0b4f,00BD97EA4041,To conclusion computers in school shouldn't de...,Concluding Statement,Adequate
3,9c3b9503c9a4,00C6E82FE5BA,The reasons why i said that this would be unva...,Concluding Statement,Adequate
4,b199e5df1815,013B9AA6B9DB,"So, in conclusion, the famous face on Mars was...",Concluding Statement,Adequate